header{
    text-align: center;
    color: white;
    background-image: url(pics/body_backgrnd.jpg);
    height: 200px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
nav{
    background-color: black;
    height: 50px;
}
nav, ul, li{
    
}
body{
    background-color: hsl(0, 20%, 50%);
}
.carousel{
    max-width: 700px;
    max-height: 400px;
}